################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReqResClient/obj
/ReqResClient.Demo/obj
/ReqResClient.Tests/obj
